<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 
    marks version
    <add name="ConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Salam\Source\Repos\NetCash\WebApplication5\App_Data\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    -->
      <add name="ConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Initial Catalog=aspnet-NetCash-20161021125047;Integrated Security=True" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>
</configuration>