@model NetCash.Models.Loan

@{
    ViewBag.Title = "DiscussLoan";
}

@section article {
    <div>
        <fieldset>

            <div>
                This Loan Application has been marked as discussed.


            </div>


        </fieldset>
    </div>
}

