
@{
    ViewBag.Title = "View";
}

@section article {
    <div>

            <div>
                There are currently no pending applications associated with this account.


            </div>

    </div>
}

