
@{
    ViewBag.Title = "LoanFailure";
}

@section article {

            <div>
                You already have an application pending discussion. <br />
                Call into your local branch to discuss the pending application before applying again.
            </div>
}

