
@{
    ViewBag.Title = "LoanResult";
   // Layout = "/Views/Shared/_UserLayout.cshtml";
}

@section article {

    <h2></h2>
        <div>
            You have succesfully submitted your Loan Application. <br />
            Call into your local branch to finalize your details
        </div>
 
    }

