
@section article {

    <h2>Application submitted</h2>
        <div>
            You have succesfully submitted your Loan Application. <br />
            Call into your local branch to finalize your details
        </div>
 
    }

