@model NetCash.Models.Loan
@{
    ViewBag.Title = "LoanResult";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section article {
<div>
    <fieldset>

        <div>
            You have succesfully submitted your Loan Application.
            Call into your local branch to finalize your details
        </div>


    </fieldset>
</div>
    }

