
@{
    ViewBag.Title = "LoanResult";
   // Layout = "/Views/Shared/_UserLayout.cshtml";
}

@section article {
<div>
    <fieldset>

        <div>
            You have succesfully submitted your Loan Application. <br />
            Call into your local branch to finalize your details


        </div>


    </fieldset>
</div>
    }

