
@{
    ViewBag.Title = "Index";
   // Layout = "/Views/Shared/_UserLayout.cshtml";
}

@section article{
<button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "User")'">User login</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Staff")'">Staff Login</button>

}


