
@section article{

    <button id="btnUserLogin" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "User")'">User login</button>
    <button id="btnStaffLogin" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Staff")'">Staff Login</button>

}


