
@{
    ViewBag.Title = "StaffHomepage";
}

@section article{
    <h1>Welcome @Session["SessionUserName"]</h1>
    <p>
        You are now on the home page of the NetCash online banking site.
        <br />
        <br />
        Review Loan requests applications and insurance quotes
        <br />
        using the buttons on the left panel, and be sure to log out when
        <br />
        you're finished.
        <br />
        <br />
        Have a nice day!
    </p>

}




