@model NetCash.Models.Insurance

@{
    ViewBag.Title = "DisplayPremium";
   // Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section article {

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Application failed. Check your loan application details");

        <div>
            <fieldset>
                
                <div>
                    Your quote is : @Model.quote. <br/>
                    Please call in to your local branch to review and finalize this quote.
                </div>


            </fieldset>
        </div>
    }
}

