@model NetCash.Models.Insurance

@{
    ViewBag.Title = "Insurance_StaffQuery";
}

@section article {

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Customer has made no insurance queries");

        <div class="form-group">
            @Html.LabelFor(l => l.AccountNumber, new { @class = "control-label" })
            @Html.TextBoxFor(l => l.AccountNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(l => l.AccountNumber)
        </div>

                <input class="btn btn-primary" type="submit" value="Confirm" />
    }
}

