
@{
    ViewBag.Title = "ReviewInsuranceFailure";
}

@section article {
    <div>
        <fieldset>

            <div>
                There are no outstanding queries related to this account.


            </div>


        </fieldset>
    </div>
}

