@model NetCashWebSite.Models.Insurance.InsuranceQuery

@{
    ViewBag.Title = "DisplayPremium";
   // Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section article {
           
<h2></h2>    
                <div>
                    Your quote is : @Model.quote. <br/>
                    Please call in to your local branch to review and finalize this quote.
                </div>

    }

