@model NetCashWebSite.Models.Insurance.InsuranceQuery


@section article {
           
<h2>Your Quote</h2>
    <div>
       Your quote is : @Model.quote. <br />
       Please call in to your local branch to review and finalize this quote.
    </div>                

    }

