
@{
    ViewBag.Title = "InsuranceFailure";
}

@section article {

<h2></h2>
            <div>
                You already have a quote pending discussion. <br />
                Call into your local branch to discuss the pending quote before applying again.
            </div>
}

