@model NetCashWebSite.Models.Loan

@{
    ViewBag.Title = "DiscussLoan";
}

@section article {

<h2>Outstanding Loan Application</h2>
    <div>
        This Loan Application has been marked as discussed.
    </div>


}

